<h2>my workouts</h2>
  <div class="container">
    <div class="row">
      <% @workouts.each do |workout| %>

          <div class="col-sm-1 col-md-1 col-lg-1 workout_home">
          <h3><%= workout.day %></h3>
          <h4><%= workout.name %></h4>
          <% workout.exercises.each do |exercise| %>
          <p class="hidden-phone"><%= exercise.name%></p>
          <% end %>
          <div class="buttons_bottom">
          <p><%= link_to 'View Workout', workout, :class => "btn btn-default btn-sm btn-block" %>
          <%= link_to 'Edit Workout', edit_workout_path(workout), :class => "btn btn-default btn-sm btn-block" %></p>
          </div>
        </div>
      
      <% end %>
    </div>    
  </div>


<br>

