<h1>Listing workouts</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Name</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.day %></td>
        <td><%= workout.name %></td>
        <td><%= workout.user.name %></td>
        <% workout.exercises.each do |exercise| %>
        <td><%= exercise.name %></td>
        <% end %>
        <td><%= link_to 'Show', workout %></td>
        <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
        <td><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

