<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @workout.day %>
</p>

<p>
  <strong>Name:</strong>
  <%= @workout.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @workout.user.name %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
