<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @workout.day %>
</p>

<p>
  <strong>Name:</strong>
  <%= @workout.name %>
</p>

<p>
  <strong>Exercises:</strong>
  <% @workout.exercise_workouts.each do |exercise_workout| %>
        <td><%= link_to exercise_workout.exercise.name, exercise_path(exercise_workout.exercise) %></td>
        <p><%= exercise_workout.reps%></p>
        <p><%= exercise_workout.times%></p>
        <p><%= link_to 'add', edit_exercise_workout_path(exercise_workout) %></p>

        <% end %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
