<div class="one_workout">
  <h3><%= @workout.day %></h3>

  <h4><%= @workout.name %></h4>

  <% @workout.exercise_workouts.each do |exercise_workout| %>
      
      <div class="exercise clearfix">
        <div class="exercise_image">
          <%= image_tag exercise_workout.exercise.image, :width => "250px", :height => "200px"%>
        </div>

        <div class="exercise_information">
          <%= exercise_workout.exercise.name %>
            <p>reps <%= exercise_workout.reps%></p>
            <p>times <%= exercise_workout.times%></p>
            <%= link_to 'edit amount', edit_exercise_workout_path(exercise_workout), :class => "btn btn-default btn-sm" %>
        </div>
      </div>
  
  <% end %>

  <div class="one_workout_edit_buttons">
    <%= link_to 'Add Exercises', edit_workout_path(@workout), :class => "btn btn-default btn-sm" %>
    <%= link_to 'My Workouts', workouts_path, :class => "btn btn-default btn-sm" %>
  </div>
</div>