<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @workout.day %>
</p>

<p>
  <strong>Name:</strong>
  <%= @workout.name %>
</p>

<p>
  <strong>Exercises:</strong>
  <% @workout.exercises.each do |exercise| %>
        <td><%= link_to exercise.name, exercise_path(exercise) %></td>
        <% end %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
