<%= form_for(@exercise_workouts) do |f| %>
  <% if @exercise_workouts.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise_workouts.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise_workouts.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :name %>
  <%= f.hidden_field :name, value: @exercise_workouts.exercise.id, :class => "form-control" %><%= @exercise_workouts.exercise.name%>  
  </div>
  <div class="field form-group">
    <%= f.label :reps %><br>
    <%= f.number_field :reps, :class => "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :times %><br>
    <%= f.number_field :times, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "update", :class => "btn btn-primary" %>
  </div>
<% end %>
