<!DOCTYPE html>
<html>
<head>
  <title>Evitca</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
      <%= render partial: 'shared/user_sign'%>
  
  <header>
    <%= render partial: 'shared/header' %>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
  </header>

  <nav class="cl-effect-13">
    <%= render partial: 'shared/nav' %>
  </nav>

  <%= yield %>
  
  <footer>
    <div class="triangle"></div>
    <%= render partial: 'shared/footer' %>
  </footer>
  </div>
</body>
</html>
